.container{
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 60px 470px 100px;
    grid-gap: 5px;
    
}
.navbar{
    position: relative;
    margin-left: -8.5px;
    margin-right: -19px;
    margin-top: -8px;
    grid-column: 1 / -1;
    background-color:rgba(11, 94, 97, 0.315);
    /* opacity: 0.7; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 58px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.navbar-right{
    grid-column: -2 / -1;
    margin-right: -9.5px;
    margin-top: -10px;
}
.navbar > .navbar-left{
    grid-column: 1 / 2;
    margin-left: -9.5px;
    margin-top: -10px;
}
a{
    text-decoration: none;
    color: white;
    
}
.navbar-right>ul>li:hover{
    background-color:rgba(6, 53, 54, 0.315);
    
}
ul>li{
    display: inline-block;
    font-size: 24px;
    margin-top: -18px;
    padding: 21px;
    
}
.wrapper{
    padding-top: 30px;
    margin-top: 8px;
    grid-column: 2 / -2;
    grid-row: 2/-1;
    background-color: white;
    border: none;
}
body{
    width: 98%;
    height: 100%;
    background-color: #dfdfdf8c;
}
button{
    margin-top: 40px;
    margin-left: 60px;
    background-color: rgba(11, 94, 97, 0.315);
}
input[type="submit"]{
    margin-left: 7%;
   margin-top: 20px;
   width: 84%;
   height:9%;
   display: block;
   text-align: center;
   background-color: rgba(80, 219, 76, 0.63);
   border: none;
   border-radius: 7px;
   color:white;
   font-size: 20px;
}
.field-container{
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
}
.field{
    margin-left: 4%;
    margin-top: 15px;
    width: 90%;
    font-size:14px;
    border:none;
    background: transparent;
    border-bottom: 1px solid rgb(196, 192, 192);
}
.upload{
    margin-left: 4%;
    margin-top: 15px;
    width: 90%;
    font-size:14px;
    border:none;
    background: transparent;
}
.field:focus {
    outline: 0;
  }
.floating-label{
    position: absolute;
    pointer-events: none;
    top:5px;
    left:10px;
    font-size: 13px;
    opacity: 0;
    padding: 28px 45px;
    
}
.field:focus + .floating-label{
    opacity: 1;
    top:-15px;
    left:13px;
    color: #9e9e9e;
}
.field:focus + .floating-label{
    color: black;
}
.field:focus {
    border-color: black;
}